[Desktop Entry]
Name=flameshot
Icon=flameshot
Exec=env XDG_CURRENT_DESKTOP=sway flameshot
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
